# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# Declare files that will always have CRLF line endings on checkout.
*.bat       text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.c         text eol=lf
*.cpp       text eol=lf
*.cc        text eol=lf
*.cxx       text eol=lf
*.h         text eol=lf
*.hpp       text eol=lf
*.py        text eol=lf
Makefile    text eol=lf
Doxyfile    text eol=lf
*.txt       text eol=lf
*.rst       text eol=lf
*.md        text eol=lf
*.txt       text eol=lf
*.sh        text eol=lf
*.svg       text eol=lf
*.yml       text eol=lf
*.json      text eol=lf

# Git configuration files are LF EOL
.gitattributes  text eol=lf
.gitignore      text eol=lf


# Denote all files that are truly binary and should not be modified.
*.png binary
*.bmp binary
*.jpg binary
