language: cpp
compiler:
  - clang
branches:
  only:
    - master
    - develop
notifications:
  recipients:
    - bertrand.cachet@gmail.com
  email:
    on_success: change
    on_failure: change
before_script:
  - make prepare
script: 
  - make tests

